@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap');
html,body{
  margin: 0;
  padding: 0;
  background: #05101c;
  color: white;
  font-family: 'Roboto Slab', serif;
}
.image-inverted{
  filter: invert(100%);
}
.nav-link{
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 10px;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 1px;
}
.MuiOutlinedInput-input-root.Mui-focused,.MuiOutlinedInput-notchedOutline{
  border-color: white !important;

}

.rotate {
  animation: rotation 8s infinite linear; /* Animation duration is 8s, loops infinitely, and uses a linear timing function */
}

@keyframes rotation {
  from {
    transform: rotate(0deg); /* Start at 0 degrees */
  }
  to {
    transform: rotate(360deg); /* Complete the rotation at 360 degrees */
  }
}
